name: Build and Test
on: 
  push:
    branches:
      - development
  pull_request:
jobs:
  build-and-test:
    runs-on: [self-hosted, poc]
    container:
      image: threefolddev/tfchain:1
      env:
        DEBIAN_FRONTEND: noninteractive
    steps:
      - uses: actions/checkout@v3

      - name: Cache build
        uses: actions/cache@v3
        timeout-minutes: 6
        continue-on-error: true
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            substrate-node/target/
          key: ${{ runner.os }}-tfchain-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-tfchain-cargo-

      - name: Build
        run: |
          cd substrate-node
          $HOME/.cargo/bin/rustup target add wasm32-unknown-unknown --toolchain nightly-2022-05-11
          $HOME/.cargo/bin/cargo +nightly-2022-05-11 build --release

      - name: Unit tests
        run: |
          cd substrate-node
          $HOME/.cargo/bin/cargo +nightly-2022-05-11 test --no-fail-fast
          cd pallets
          $HOME/.cargo/bin/cargo +nightly-2022-05-11 test --no-fail-fast

      # This will only be execute when merging a PR or when adding #test to the commit message (only the last commit)
      - name: Integration tests
        if: github.event.pull_request.merged == true || ${{ contains(github.event.head_commit.message, '#integration-tests') }
        run: |
          python3.10 -m pip install robotframework cryptography substrate-interface
          cd substrate-node/tests
          robot -d _output_tests/ .

