name: Build runtime

on: 
  push:
    branches:
      - development
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'
  pull_request:

jobs:
  srtool:
    runs-on: [self-hosted, poc]
    container:
      image: threefolddev/tfchain:1
      env:
        DEBIAN_FRONTEND: noninteractive
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      - name: Cache target dir
        uses: actions/cache@v3
        with:
          path: '${{ github.workspace }}/substrate-node/runtime/target'
          key: srtool-target-tfchain-${{ github.sha }}
          restore-keys: |
            srtool-target-tfchain-
            srtool-target-
      - name: Srtool build
        id: srtool_build
        uses: chevdor/srtool-actions@v0.6.0
        with:
          workdir: '${{ github.workspace }}/substrate-node'
          package: tfchain-runtime
          runtime_dir: runtime
      - name: Summary
        run: |
          echo '${{ steps.srtool_build.outputs.json }}' | jq . > tfchain-srtool-digest.json
          cat tfchain-srtool-digest.json
          echo "Runtime location: ${{ steps.srtool_build.outputs.wasm }}"
      - name: Upload tfchain srtool json
        uses: actions/upload-artifact@v3
        with:
          name: tfchain-srtool-digest-json
          path: tfchain-srtool-digest.json
      - name: Upload runtime
        uses: actions/upload-artifact@v3
        with:
          name: tfchain-runtime
          path: |
            substrate-node/${{ steps.srtool_build.outputs.wasm_compressed }}
